@import url('./normalize.css');
@import url('./blueprint.css');
@import url('./blueprint-icons.css');
@import url('./bootstrap.css');

.bp3-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.breadcrumbs{
    margin-top: 20px;
}

.article-list{
    margin-top: 30px;
}

.bp3-navbar .social-logo{
    fill: #5C7080;
    transition: fill .3s linear, background-color .3s linear;
    height: 50px;
    padding: 0px 5px;
    box-sizing: content-box;
}

.social-logo:hover{
    fill: #BFCCD6;
    background-color: #182026;
}